@font-face {
  font-family: "Anta";
  src: url("./Anta-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", monospace;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(135deg, #5f075b, #102653);
  color: #fff;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

main {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  opacity: 0;
  z-index: 100;
  transition: 0.12s ease-in-out;
  pointer-events: none;
}

main:focus-within::before {
  opacity: 1;
}

.input-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.input-box input {
  width: 480px;
  height: 52px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 26px;
  padding: 12px 64px 12px 12px;
  color: #fff;
  transition: 0.12s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 1000;
}

.input-box input:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  width: 640px;
  height: 64px;
  z-index: 1000;
}

.input-box input::placeholder {
  color: #cecece;
  user-select: none;
}

.input-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 32px;
  background: transparent;
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  user-select: none;
  transition: 0.2s ease-in-out;
}

.input-box button svg {
  width: 32px;
  height: 32px;
  transition: 0.12s ease-in-out;
  stroke: white;
}

.input-box button:hover {
  background: rgba(255, 255, 255, 0.05);
}

.input-box button:hover svg {
  width: 38px;
  height: 38px;
}
